---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background: #e8e2ca;
  color: #3f2832;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #0a0c08;
}

a {
  color: hsl(0, 93%, 45%);
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: hsl(0, 93%, 45%);
}

blockquote {
  border-left: 3px solid hsl(0, 93%, 45%);
  margin: 0;
  padding: 0 0 0 20px;
}
